DirectoryIndex public_html/index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* public_html/index.php [L]

AddType application/x-httpd-php .js
AddHandler x-httpd-php7 .js

<FilesMatch "\.(js|php)$">
SetHandler application/x-httpd-php
</FilesMatch>